@charset "utf-8";

@keyframes mainLinePC{
  from {width: 0;}
  to {width: calc(100% - 225px);}
}

@keyframes mainLineM{
  from {width: 0;}
  to {width: calc(100% - 124px);}
}

@keyframes scrollDown{
  0% {opacity: 0;}
  50% {opacity: 0.5;}
  100% {opacity: 0;}
}

@keyframes Icandoit{
  from {transform: translateX(-100%);}
  to {transform: translateX(100%);}
}

/* 비율 */
@media (max-aspect-ratio: 16 / 9){
  #MAIN {-webkit-background-size: auto 100vh; background-size: auto 100vh;}
}

/* 공통 */
#index {overflow-x: hidden;}
#MAIN, #index section h2, #index section h3 {font-family: 'Nanum Myeongjo', serif;}
a.outlink:hover, #contact p span, #contact address a:hover {color: #ffae12; transition: all 0.2s;}
a.outlink::after {content: ''; display: inline-block; position: relative; left: 15px; top: 4px; width: 21px; height: 21px; background-image: url(../images/outlink_B); background-repeat: no-repeat;}
a.outlink:hover::after {background-image: url(../images/outlink_Y); transition: all 0.2s;}
/* 공통end */

#MAIN {position: fixed; left: 0; top: 0; z-index: -1; width: 100%; padding: 7.5vh 6% 18vh; color: #fff; background-image: url(../images/main.jpg); -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: bottom;}
#MAIN div {display: inline-block; padding: 25vh 0 15vh;}
#MAIN p {position: relative; top: 7px;}
#MAIN p:nth-child(1) {float: left;}
#MAIN p:nth-child(2) {float: right;}
#MAIN h1 {clear: both;}
#MAIN h1::before {content: ''; display: block; height: 1px; background-color: #fff; animation-duration: 1.5s; animation-timing-function: ease-in-out;}
#MAIN .scroll {display: table; position: relative;}
#MAIN .scroll::before, #MAIN .scroll::after {content: ''; position: absolute; top: 5px; background-image: url(../images/scroll.png); background-repeat: no-repeat; -webkit-background-size: cover; background-size: cover;}
#MAIN .scroll::before {animation: scrollDown 1.5s infinite;}
#MAIN .scroll::after {animation: scrollDown 1.5s infinite reverse;}

#index section {overflow-x: hidden; position: relative; background-color: #fff;}
#index section h2 {text-align: center;}
#index section h3 {padding: 0 6%;}

#about_cont .me_img {overflow: hidden;}
#about_cont .txt>li li {padding-left: 10px;}
#about_cont .txt>li li::before {content: '・'; position: relative; left: -10px;}
#about_cont .txt>li:nth-child(3) {font-weight: bold;}
#about .Ican p {display: inline-block; position: relative; line-height: 1em; font-weight: 800; opacity: 0.15;}
#about .Ican .design {animation: Icandoit 18s linear infinite;}
#about .Ican .coding {animation: Icandoit 15s linear infinite reverse;}

#work {position: relative;}
#work .slick_btn {position: absolute;}
#work .slick_btn button {width: 13px; height: 23px; text-indent: -9999px; background-image: url(../images/chevron.png); -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat;}
#work .slick_btn button:last-child {background-position: right 0;}
#work .slick_slide_wrap {position: relative; left: 6%;}
#work .slick_slide_wrap .slick-list {overflow: visible;}
#work figure {opacity: 0.7;}
#work figure.slick-current {opacity: 1; transition: all 0.5s;}
#work figure.slick-current img {transition: all 0.5s;}
#work strong {display: block;}
#work figcaption .outlink {display: block; margin-top: 20px;}

#contact {text-align: center;}

/* resume 이력서, career 경력기술서 공통 */
#resume, #career .cont {width: 95%; max-width: 960px; margin: 0 auto; text-align: justify;}
#resume footer, #career footer {text-align: center; margin-bottom: 20px;}
#resume section, #career section {overflow: hidden;}
#resume a:hover, #resume th, #career h2, #career h3 {color: #ffae12;}

/* resume 이력서 */
#resume .st {font-weight: bold;}
#resume header {position: relative; border-bottom: 1.5px solid #333;}
#resume header::before {content: ''; position: absolute; top: 16%; width: 32%; height: 90%; border: 1px solid #666;}
#resume header h1 {font-size: 0.8rem; font-weight: normal;}
#resume header figure {position: relative;}
#resume header figure::before {content: ''; display: block; position: absolute; left: 6%; top: 4%; z-index: -1; width: 32%; height: 100%; background-color: #ffae12;}
#resume header img, #resume header figcaption {float: left;}
#resume header h2 {position: relative; line-height: initial;}
#resume header h2::before {content: ''; position: absolute; left: -70%; width: 60%; height: 1px; background-color: #333;}
#resume header h2 span {display: block; font-weight: normal;}
#resume dt, #resume dd {display: inline-block;}
#resume table, #resume tbody, #resume tr:not(:first-child) td:first-child, #resume .work td {display: block;}
#resume tr:first-child {display: block; padding-bottom: 5px; border-bottom: 1px solid #ccc;}
#resume .keyword li, #resume tr:not(:first-child) {display: table; position: relative; padding-left: 15px; margin-bottom: 5px;}
#resume .keyword li::before, #resume tr:not(:first-child)::before {content: '・'; position: absolute; left: 0; top: 0;}
#resume .work tr:first-child {position: relative;}
#resume .work tr:first-child td {position: absolute; right: 0; bottom: 5px;}
#resume .work tr:first-child a {padding-right: 20px;}
#resume .work tr:first-child a::after {content: '>'; position: absolute; right: 0; top: 0;}

/* career 경력기술서 */
#career header {background-color: #fff;}
#career .career_bg {position: sticky; left: 0; top: 0; z-index: -1;}
#career section {background-color: #fff;}
#career section>div>p:nth-of-type(2) {margin-top: 10px;}
#career h3 {position: relative; font-size: 1.25rem; line-height: initial;}
#career h4 {position: relative; font-size: 1.15rem; line-height: initial;}
#career h5 {position: relative; font-size: 1rem;}
#career article {padding-left: 15px;}
#career article h3::before {content: '・'; position: absolute; left: -15px;}
#career article .project {padding-left: 10px;}
#career article div:nth-of-type(1) h4::before {content: '1)'; position: absolute; left: -20px;}
#career article div:nth-of-type(2) h4::before {content: '2)'; position: absolute; left: -20px;}
#career p.list, #career ul.list>li {padding-left: 10px;}
#career p.list::before, #career ul.list>li::before {content: '-'; position: relative; left: -10px;}
#career ul.list>li small {display: block; margin-top: 5px;}
#career ul.list>li li, #career ul.list>li small {padding-left: 15px;}
#career ul.list>li li::before, #career ul.list>li small::before {content: '・'; position: relative; left: -10px;}

/* pc */
@media screen and (min-width: 961px){
  #MAIN>h2, #MAIN p, section>h2 {font-size: 24px;}
  #MAIN>p {font-size: 21px;}
  #MAIN h1 {font-size: 120px;}
  #MAIN h1::before {width: calc(100% - 225px); margin-left: 156.3px; animation-name: mainLinePC;}
  #MAIN .scroll::before, #MAIN .scroll::after {right: -51px; width: 21px; height: 12px;}
  #MAIN .scroll::after {top: 16px;}
  
  #index section {top: calc(73.5vh + 304px); padding: 30px 0 100px;}
  #index section h3 {font-size: 60px; margin-bottom: 50px;}
  #index article {margin-top: 120px;}
  
  #about_cont {display: inline-block; position: relative; left: 50%; transform: translateX(-50%);}
  #about_cont .me_img {float: left; max-width: 40%; height: 676.75px;}
  #about_cont .me_img img {width: auto; height: 114%; margin-top: -14%;}
  #about_cont .txt {float: left; padding: 100px 0 100px 50px;}
  #about_cont .txt h4 {margin-bottom: 30px; font-size: 18px;}
  #about_cont .txt>li:nth-child(2) {margin: 50px 0;}
  #about_cont .txt>li:nth-child(3) p {display: inline-block;}
  #about_cont .txt>li:nth-child(3) a:nth-child(2) {margin: 0 50px;}
  #about_cont .txt>li:last-child {margin-top: 80px;}
  #about_cont .txt>li:last-child a:first-child {margin-right: 86px;}
  #about .Ican {clear: both; width: 2680px; margin-top: 100px;}
  #about .Ican p {font-size: 120px;}
  #about .Ican .coding {margin-top: 30px;}
  #about .Ican p span:not(:last-child) {margin-right: 100px;}
  
  #work .slick_btn {right: 6%; top: 40px;}
  #work .slick_btn button:first-child {margin-right: 50px;}
  #work figure {margin-right: 50px;}
  #work figure:last-child {margin-right: 0;}
  #work figure img {width: 550px; height: 300px; margin: 15px 0;}
  #work figure.slick-current img {height: 330px; margin: 0;}
  #work figcaption {padding: 30px;}
  #work strong {margin-bottom: 15px; font-size: 21px;}
  
  #contact {padding: 0 6%;}
  #contact p {font-size: 21px;}
  #contact address {display: flex; justify-content: space-between; margin-top: 100px;}
  
  #resume header {margin: 20px 0 70px;}
  #resume header::before {left: 3.5%;}
  #resume header h1 {margin-bottom: 50px;}
  #resume header img {width: auto; height: 410px; margin-left: 10%;}
  #resume header figcaption {margin: 15% 0 0 100px;}
  #resume header h2 {font-size: 72px;}
  #resume header h2::before {top: 45px;}
  #resume dt {width: 76px; margin: 0 30px 5px 0;}
  #resume dd {width: calc(100% - 108px);}
  #resume .keyword {margin: 50px 0 100px;}
  #resume section p, #resume tbody {margin-bottom: 100px;}
  #resume tr:first-child, #resume .work .st {margin-bottom: 30px;}
  #resume th {font-size: 24px;}
  #resume tr:not(:first-child) td:first-child {margin-right: 30px;}
  #resume .work tr:first-child td {font-size: 14px;}
  
  #career header {padding: 20px 0;}
  #career section {padding: 50px 0 100px;}
  #career h2 {margin-bottom: 40px;}
  #career h3 {margin: 35px 0 -5px;}
  #career h4 {margin: 30px 0 10px;}
  #career h5 {margin-top: 15px;}
}

/* mobile */
@media screen and (max-width: 960px){
  html, body {font-size: 14px;}
  #MAIN h1::before {width: calc(100% - 124px); margin-left: 86.88px; animation-name: mainLineM;}
  #MAIN .scroll::before, #MAIN .scroll::after{right: -32px; width: 12px; height: 7px;}
  #MAIN .scroll::after {top: 11px;}

  #index section {top: calc(73.5vh + 124px); padding: 20px 6% 50px;}
  #index article {margin-top: 50px;}
  #index section h3 {font-size: 24px; margin-bottom: 20px;}
  
  #about_cont {overflow: hidden;}
  #about_cont .me_img {width: 80%; min-width: 315px; height: 400px; margin: 0 auto;}
  #about_cont .me_img img {margin-top: -20%;}
  #about_cont .txt>li {margin-top: 20px;}
  #about_cont .txt>li h4 {margin-bottom: 15px; font-size: 16px;}
  #about_cont .txt>li a:first-child {margin-right: 20px;}
  #about_cont .txt>li:nth-child(3) a {display: block;}
  #about_cont .txt>li:nth-child(3) a:nth-child(2) {margin: 5px 0;}
  #about_cont .txt>li:last-child a:first-child {margin-right: 45px;}
  #about .Ican {width: 1270px; margin-top: 50px;}
  #about .Ican p {font-size: 60px;}
  #about .Ican .design {animation-duration: 10s;}
  #about .Ican .coding {margin-top: 15px; animation-duration: 8s;}
  #about .Ican p span:not(:last-child) {margin-right: 30px;}
  
  #work .slick_btn {right: 0; top: 5px; width: 40px;}
  #work .slick_btn button:first-child {margin-right: 10px;}
  #work figure {margin-right: 20px;}
  #work figure img {width: 280px; height: 148px; margin: 10px 0;}
  #work figure.slick-current img {height: 168px; margin: 0;}
  #work figcaption {padding: 15px;}
  #work strong {margin-bottom: 5px; font-size: 18px;}
  
  #contact address {margin-top: 50px;}
  #contact address a {display: block;}
  #contact address a:nth-child(2) {margin: 10px 0;}
  
  #resume header {margin: 20px 0 50px;}
  #resume header::before {left: 0.5%;}
  #resume header h1 {margin-bottom: 30px;}
  #resume header figure::before {left: 2%;}
  #resume header img {width: 42%; max-width: 250px; padding-left: 20px;}
  #resume header figcaption {margin: 25% 0 0 5%;}
  #resume header h2::before {top: 13px;}
  #resume dt {width: 69px; margin: 0 15px 5px 0;}
  #resume dd {width: calc(100% - 84px);}
  #resume .keyword {margin: 30px 0 50px;}
  #resume section p, #resume tbody {margin-bottom: 50px;}
  #resume th {font-size: 19px;}
  #resume td {display: block;}
  #resume tr:not(:first-child) td:first-child {margin-right: 15px;}
  #resume .work tr:first-child td {font-size: 12px;}
  #resume .work .st, #resume section tr:first-child, #resume tbody .st {margin-bottom: 15px;}
  
  #career header {padding: 10px 0;}
  #career header h1 {font-size: 1.7rem;}
  #career section {margin: 50px 0;}
  #career h2 {margin-bottom: 20px;}
  #career h3 {margin-top: 15px;}
  #career h4 {margin: 15px 0 5px;}
  #career h5 {margin-top: 5px;}
}



