@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

@keyframes mainLinePC{
  from {width: 0;}
  to {width: calc(100% - 225px);}
}

@keyframes mainLineM{
  from {width: 0;}
  to {width: calc(100% - 124px);}
}

@keyframes scrollDown{
  0% {opacity: 0;}
  50% {opacity: 0.5;}
  100% {opacity: 0;}
}

@keyframes Icandoit{
  from {transform: translateX(-100%);}
  to {transform: translateX(100%);}
}

/* 비율 */
@media (max-aspect-ratio: 16 / 9){
  #MAIN {-webkit-background-size: auto 100vh; background-size: auto 100vh;}
}

/* 공통 */
body {overflow-x: hidden;}
#MAIN, section h2, section h3 { font-family: 'Nanum Myeongjo', serif;}
a.outlink:hover, #contact p span, #contact address a:hover {color: #ffae12; transition: all 0.2s;}
a.outlink::after {content: ''; display: inline-block; position: relative; left: 15px; top: 4px; width: 21px; height: 21px; background-image: url(../images/outlink_B); background-repeat: no-repeat;}
a.outlink:hover::after {background-image: url(../images/outlink_Y); transition: all 0.2s;}
/* 공통end */

#MAIN {position: fixed; left: 0; top: 0; z-index: -1; width: 100%; padding: 7.5vh 6% 18vh; color: #fff; background-image: url(../images/main.jpg); -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: bottom;}
#MAIN div {display: inline-block; padding: 30vh 0 18vh;}
#MAIN p {position: relative; top: 7px;}
#MAIN p:nth-child(1) {float: left;}
#MAIN p:nth-child(2) {float: right;}
#MAIN h1 {clear: both;}
#MAIN h1::before {content: ''; display: block; height: 1px; background-color: #fff; animation-duration: 1.5s; animation-timing-function: ease-in-out;}
#MAIN .scroll {display: table; position: relative;}
#MAIN .scroll::before, #MAIN .scroll::after {content: ''; position: absolute; top: 5px; background-image: url(../images/scroll.png); background-repeat: no-repeat; -webkit-background-size: cover; background-size: cover;}
#MAIN .scroll::before {animation: scrollDown 1.5s infinite;}
#MAIN .scroll::after {animation: scrollDown 1.5s infinite reverse;}

section {position: relative; background-color: #fff;}
section h2 {text-align: center;}
section h3 {padding: 0 6%;}

#about_cont .me_img {overflow: hidden;}
#about_cont .txt>li:nth-child(3) {font-weight: bold;}
#about .Ican p {display: inline-block; position: relative; line-height: 1em; font-weight: bold; opacity: 0.15;}
#about .Ican .design {animation: Icandoit 18s linear infinite;}
#about .Ican .coding {animation: Icandoit 15s linear infinite reverse;}

#work {position: relative;}
#work .slick_btn {position: absolute;}
#work .slick_btn button {width: 13px; height: 23px; text-indent: -9999px; background-image: url(../images/chevron.png); -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat;}
#work .slick_btn button:last-child {background-position: right 0;}
#work .slick_slide_wrap {position: relative; left: 6%;}
#work .slick_slide_wrap .slick-list {overflow: visible;}
#work figure {opacity: 0.7;}
#work figure.slick-current {opacity: 1; transition: all 0.5s;}
#work figure.slick-current img {transition: all 0.5s;}
#work strong {display: block;}
#work figcaption .outlink {display: block; margin-top: 20px;}

#contact {text-align: center;}

/* pc */
@media screen and (min-width: 961px){
  #MAIN>h2, #MAIN p, section>h2 {font-size: 24px;}
  #MAIN>p {font-size: 21px;}
  #MAIN h1 {font-size: 120px;}
  #MAIN h1::before {width: calc(100% - 225px); margin-left: 156.3px; animation-name: mainLinePC;}
  #MAIN .scroll::before, #MAIN .scroll::after {right: -51px; width: 21px; height: 12px;}
  #MAIN .scroll::after {top: 16px;}
  
  section {top: calc(73.5vh + 304px); padding: 30px 0 100px;}
  section h3 {font-size: 60px; margin-bottom: 50px;}
  article {margin-top: 120px;}
  
  #about_cont {display: inline-block; position: relative; left: 50%; transform: translateX(-50%);}
  #about_cont .me_img {float: left; max-width: 40%; height: 676.75px;}
  #about_cont .me_img img {width: auto; height: 114%; margin-top: -14%;}
  #about_cont .txt {float: left; padding: 100px 0 100px 50px;}
  #about_cont .txt h4 {margin-bottom: 30px; font-size: 18px;}
  #about_cont .txt>li:nth-child(2) {margin: 50px 0;}
  #about_cont .txt>li:nth-child(3) p {display: inline-block;}
  #about_cont .txt>li:nth-child(3) a:nth-child(2) {margin: 0 50px;}
  #about_cont .txt>li:last-child {margin-top: 80px;}
  #about_cont .txt>li:last-child a:first-child {margin-right: 86px;}
  #about .Ican {clear: both; width: 2680px; margin-top: 100px;}
  #about .Ican p {font-size: 120px;}
  #about .Ican .coding {margin-top: 30px;}
  #about .Ican p span:not(:last-child) {margin-right: 100px;}
  
  #work .slick_btn {right: 10%; top: 40px;}
  #work .slick_btn button:first-child {margin-right: 50px;}
  #work figure {margin-right: 50px;}
  #work figure:last-child {margin-right: 0;}
  #work figure img {width: 550px; height: 300px; margin: 15px 0;}
  #work figure.slick-current img {height: 330px; margin: 0;}
  #work figcaption {padding: 30px;}
  #work strong {margin-bottom: 15px; font-size: 21px;}
  
  #contact {padding: 0 6%;}
  #contact p {font-size: 21px;}
  #contact address {display: flex; justify-content: space-between; margin-top: 100px;}
}

/* mobile */
@media screen and (max-width: 960px){
  html, body {font-size: 14px;}
  #MAIN h1::before {width: calc(100% - 124px); margin-left: 86.88px; animation-name: mainLineM;}
  #MAIN .scroll::before, #MAIN .scroll::after{right: -32px; width: 12px; height: 7px;}
  #MAIN .scroll::after {top: 11px;}

  section {top: calc(73.5vh + 124px); padding: 20px 6% 50px;}
  article {margin-top: 50px;}
  section h3 {font-size: 24px; margin-bottom: 20px;}
  
  #about_cont .me_img {width: 80%; min-width: 315px; height: 400px; margin: 0 auto;}
  #about_cont .me_img img {margin-top: -20%;}
  #about_cont .txt>li {margin-top: 20px;}
  #about_cont .txt>li h4 {margin-bottom: 15px; font-size: 16px;}
  #about_cont .txt>li a:first-child {margin-right: 20px;}
  #about_cont .txt>li:nth-child(3) a {display: block;}
  #about_cont .txt>li:nth-child(3) a:nth-child(2) {margin: 5px 0;}
  #about_cont .txt>li:last-child a:first-child {margin-right: 45px;}
  #about .Ican {width: 1270px; margin-top: 50px;}
  #about .Ican p {font-size: 60px;}
  #about .Ican .design {animation-duration: 10s;}
  #about .Ican .coding {margin-top: 15px; animation-duration: 8s;}
  #about .Ican p span:not(:last-child) {margin-right: 30px;}
  
  #work .slick_btn {right: 0; top: 5px;}
  #work .slick_btn button:first-child {margin-right: 10px;}
  #work figure {margin-right: 20px;}
  #work figure img {width: 280px; height: 148px; margin: 10px 0;}
  #work figure.slick-current img {height: 168px; margin: 0;}
  #work figcaption {padding: 15px;}
  #work strong {margin-bottom: 5px; font-size: 18px;}
  
  #contact address {margin-top: 50px;}
  #contact address a {display: block;}
  #contact address a:nth-child(2) {margin: 10px 0;}
}

@media screen and (max-width: 490px){
  
}


