@charset "utf-8";

/* animation */
@keyframes mainScrollLine {
  from {
    height: 0px;
    opacity: 0;
  }

  to {
    height: 30px;
    opacity: 1;
  }
}

@keyframes mainScroll {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* 공통 */
#mainpage {overflow: hidden; line-height: 1.45;}
#mainpage article h3, #mainpage article h4 {color: #C31724; font-weight: 400;}
#mainpage article .explain {display: inline-block; position: relative; z-index: 20;}
.content li p {font-weight: 600;}

/* article#main_vision */
#main_vision {overflow: scroll; height: calc(100vh - 80px); -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */}
#main_vision::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera*/}
#main_vision>div {position: relative;}
#main_vision figure {overflow: hidden; position: relative;}
#main_vision figure figcaption {position: absolute;}

#main_vision .scroll {position: absolute; left: 50%; bottom: 40px; transform: translate(-50%); font-size: 0.9rem;}
#main_vision .scroll::after {content: ''; position: absolute; left: 50%; bottom: -40px; transform: translate(-50%);  width: 1px; height: 30px; background-color: #fff; animation: mainScrollLine 1.5s infinite ease-in-out reverse;}

/* article#main_program */
#main_program .content {position: relative; z-index: 10;}
#main_program .content span.ready {position: relative; top: initial; left: 250px;}
#main_program .content span.active {top: initial; left: 0; transition: all 2s;}
#main_program .content ul li {float: left;}
#main_program .content ul li:nth-child(2).ready {top: 70px;}
#main_program .content ul li:nth-child(3).ready {top: 90px;}
#main_program .content ul li:nth-child(4).ready {top: 110px;}
#main_program .content ul li:last-child.ready {top: 130px;}
#main_program .content ul.clearfix li.active {top: 0;}
#main_program .content ul li:last-child {margin-right: 0;}

/* article#main_award */
#main_award .content>p {position: relative;}
#main_award .content .text {overflow: hidden;}
#main_award .content .text ul {position: relative; width: 300%;}
#main_award .content .text ul li {float: left; width: 33.33%;}
#main_award .content .text p span {display: block; font-weight: 400;}
#main_award .content .text .date strong {display: block; transform: translateY(10px);}

/* article#main_membership */
#main_membership .explain a {font-weight: 600; max-width: 250px;}
#main_membership .content li p {position: absolute;}

/* pc 버전 */
@media screen and (min-width: 1700px){
  #main_program .content>span>img {width: 1700px;}
}

@media screen and (min-width: 961px){
  /* font-size */
  #main_vision figure figcaption, #mainpage article .explain {font-size: 40px;}
  #main_award .content .text .date strong {font-size: 2.4rem;}
  .content li p {font-size: 32px;}
  #mainpage article h4, #main_award .content .text .date {font-size: 21px;}
  #main_membership .explain .go_right {font-size: 18px;}
  
  #mainpage article:not(#main_vision) {margin-top: 100px;}
  
  /* nav#navigation */
  nav#navigation {position: fixed; right: 30px; top: 50%; transform: translateY(-50%); z-index: 1000; font-size: 0.75rem;}
  nav#navigation li a {display: inline-block; width: 90px; color: rgba(0,0,0,0); line-height: 23px;}
  nav#navigation li a.current {color: #C31724;}
  nav#navigation li a::before {content: ''; display: inline-block; width: 8px; height: 8px; margin-right: 10px; background-color: #fff; border-radius: 50%; opacity: 0.6;}
  nav#navigation li a.current::before {transform: scale(1.5); background-color: #C31724; opacity: 1;}
  
  #mainpage article h3 {margin-bottom: 30px;}
  
  #main_vision figure {height: calc(100vh - 80px);}
  #main_vision figure figcaption {left: 5vw; top: 50%; transform: translateY(-50%);}
  
  #main_program .content {left: 6vw; top: -30px;}
  #main_program .content ul {margin-top: 50px;}
  #main_program .content ul li {margin-right: 4vw;}
  
  #main_award .content {margin: 30px 0 0 13%;}
  #main_award .content>p {float: left;}
  #main_award .content .text {float: left; width: 39%; margin: 20% 0 0 60px;}
  #main_award .content .text .date {margin-bottom: 20px;}
  #main_award .content .text .txt {margin: 10px 0 30px;}
  #main_award .content .text .award_btn .arrow_ico {width: 32px; height: 32px; background-position: 0 -42px;}
  #main_award .content .text .award_btn .arrow_ico.right {margin-left: 30px; background-position: 0 -77px;}
  
  #main_membership .explain a:first-of-type {margin: 50px 0 20px;}
  #main_membership .content {position: relative; height: 110vh;}
  #main_membership .content li {position: absolute;}
  #main_membership .content li:nth-child(1) {right: 3vw; width: 26.5%;}
  #main_membership .content li:nth-child(2) {left: 6vw; width: 40%;}
  #main_membership .content li:nth-child(3) {right: 7vw; width: 32%;}
  
  #main_membership .content li:nth-child(1).ready {top: -60px; opacity: 0;}
  #main_membership .content li:nth-child(2).ready {top: 230px; opacity: 0;}
  #main_membership .content li:nth-child(3).ready {top: initial; bottom: -50px; opacity: 0;}
  #main_membership .content li:nth-child(1).active {top: -110px; opacity: 1; transition: all 1s;}
  #main_membership .content li:nth-child(2).active {top: 180px; opacity: 1; transition: all 1s;}
  #main_membership .content li:nth-child(3).active {top: initial; bottom: 0; opacity: 1; transition: all 1s;}
  
  #main_membership .content li p {top: 60px; left: -50px;}
  #main_membership .content li:nth-child(2) p {left: initial; right: -50px;}
}

@media screen and (max-width: 1300px) and (min-width: 961px){
  #main_award .content {margin-left: 0;}
  #main_award .content>p {width: 40%;}
  #main_award .content .text {float: right; width: 56%; margin: inherit; transform: translateY(20%);}
}

/* tablet 버전 */
@media screen and (max-width: 960px){
  /* font-size */
  #main_vision figure figcaption, #mainpage article .explain {font-size: 21px;}
  #main_award .content .text .date strong {font-size: 2.1rem;}
  .content li p, #mainpage article h4, #main_award .content .text .date {font-size: 18px;}
  #main_membership .explain .go_right {font-size: 16px;}
  
  #mainpage article:not(#main_vision) {margin-top: 50px;}
  #mainpage article h3, #mainpage article .explain {margin-bottom: 20px;}
  #main_membership .explain a:first-of-type {margin: 20px 0 10px;}
  
  #main_vision figure {height: calc(100vh - 44px);}
  #main_vision figure img {transform: translateX(-50%); width: auto; height: 100%;}
  #main_vision figure:nth-child(2) img, #main_vision figure:nth-child(3) img {position: relative; left: 50%;}
  #main_vision figure figcaption {left: 5%; top: 22%; width: 90%;}
  
  #main_program .content {left: 5vw; top: -35px;}
  #main_program .content ul {margin-top: 30px;}
  #main_program .content ul li {width: 25%;}
  #main_program .content ul li:nth-child(4), #main_program .content ul li:nth-child(5) {width: 50%; margin-top: 20px;}
  
  #mainpage article#main_award {margin-top: 15px;}
  #main_award .content .text {width: 90%; margin: 15px auto 0;}
  #main_award .content .text .date {float: left;}
  #main_award .content .text li>div {float: left; margin: 19px 0 0 30px;}
  #main_award .content .text .award_btn {margin: 20px 0 0 70px;}
  #main_award .content .text .award_btn .arrow_ico {width: 24px; height: 24px; background-position: 0 -31px;}
  #main_award .content .text .award_btn .arrow_ico.right {margin-left: 20px; background-position: 0 -58px;}
  
  #main_membership .content li {margin-top: 30px;}
  #main_membership .content li p {left: 20px; top: -15px;}
}

/* mobile 버전 */
@media screen and (max-width: 490px){
  
}

/* galaxy fold 포함 3800px 이하 */
@media screen and (max-width: 380px){
  #main_program .content ul li {width: 50%;}
  #main_program .content ul li:nth-child(4), #main_program .content ul li:nth-child(4), #main_program .content ul li:nth-child(5) {width: 100%; margin-top: 20px;}
}

/* 비율 */
@media (max-aspect-ratio: 16 / 9){
  #main_vision figure img {width: auto; height: 100vh;}
  #main_vision figure:nth-child(1) img {position: relative; left: 50%; transform: translateX(-50%);}
}
