@charset "utf-8";

/* 공통 */
a {display: block;}
.hidden {display: none;}
.ico {display: inline-block; width: 24px; height: 24px; text-indent: -9999px; background-size: cover; background-repeat: no-repeat;}
.sns_ico {background-image: url(https://jeonaryeon.github.io/since2021_publishing/golf/images/sns_ico.png);}
.arrow_ico {background-image: url(https://jeonaryeon.github.io/since2021_publishing/golf/images/arrow_ico.png);}
.go_right .arrow_ico {position: relative; left: 20px; width: 22px; height: 14px; background-position: 0 -77px;}
a.go_right:hover .arrow_ico {left: 30px; transition: all ease 0.4s 0s;}
a.go_right:hover .arrow_ico::after {content: ''; position: absolute; right: -5px; top: -8px; z-index: -1; width: 21px; height: 21px; background-color: #C31725; border-radius: 50%;}
.container {width: 90%; max-width: 1520px; margin: 0 auto;}
.mobile_only {display: none;}

/* 공통 - 서브 sub */
.sub_top {position: relative; background-image: url(https://jeonaryeon.github.io/since2021_publishing/golf/images/sub_top.png); background-position: center top; background-repeat: no-repeat;}
.sub_top.apply {background-position: center bottom;}
.sub_top div {position: absolute; left: 50%; transform: translateX(-50%);}
.sub_top h2 {display: inline-block; position: relative;}
.sub_top h2::after {content: ''; position: absolute; right: -8px; bottom: 0; width: 12px; height: 12px; background-color: #C31725; border-radius: 50%;}

/* 공통 - scroll event */
.ready {position: relative; top: 50px; opacity: 0;}
.active {top: 0; opacity: 1; transition: all 1s;}

/* sub #intro_vision */
#intro_vision #jump figure figcaption {margin: -15px 0 0 5%;}

/* pc버전 */
@media screen and (min-width: 961px){
  .sub_common .go_right {margin-top: 30px;}
  .go_right .arrow_ico {top: 9px;}
  
  /* font-size */
  .font72 {font-size: 72px;}
  .font40 {font-size: 40px;}
  .font36 {font-size: 36px;}
  .font32 {font-size: 32px;}
  .font21 {font-size: 21px;}
  
  .sub_top {height: 350px; margin-bottom: 130px;}
  .sub_top.promote {background-position: center -400px;}
  .sub_top.notice {background-position: center -800px;}
  .sub_top div {bottom: -30px;}
  .sub_common article:not(first-child) {margin-top: 100px;}
  
  #intro_vision #jump>div {float: right;}
  #intro_vision #jump>div>p {margin: 50px 0 80px;}
  
  #intro_vision #solution h4 {margin-bottom: 50px;}
  #intro_vision #solution li {float: left; width: 31%; text-align: center;}
  #intro_vision #solution li:nth-child(2) {margin: 80px 3.5% 0;}
  #intro_vision #solution li:nth-child(3) {margin-top: 160px;}
  #intro_vision #solution li strong {display: block; margin: 35px 0 25px;}
}

/* tablet 버전 */
@media screen and (max-width: 960px){
  html, body {font-size: 14px;}
  .pc_only {display: none;}
  .go_right .arrow_ico {top: 5px;}
  
  /* font-size */
  .font72 {font-size: 32px;}
  .font40 {font-size: 21px;}
  .font36 {font-size: 19px;}
  .font32 {font-size: 18px;}
  .font21 {font-size: 16px;}
  
  .sub_top {height: 200px; margin-bottom: 70px; background-size: 1093px 1110px;}
  .sub_top div {bottom: -18px;}
  .sub_common .go_right {margin-top: 15px;}
  .sub_common article:not(first-child) {margin-top: 50px;}
  
  #intro_vision #jump>div>p {margin: 20px 0 30px;}
  #intro_vision #solution h4 {margin-bottom: 20px;}
  #intro_vision #solution li {}
  #intro_vision #solution li p {width: 90%; margin: 15px auto 30px;}
  #intro_vision #solution li strong {display: inline-block; transform: translateY(-18px); margin-right: 5%;}
  #intro_vision #solution li span {display: inline-block;}
}

/* mobile 버전 */
@media screen and (max-width: 490px){
  .pc_only {display: none;}
  .no_mobile {display: none;}
  .mobile_only {display: block;}
  
  .sub_top.intro {background-position: 20% top;}
  #intro_vision #solution li:nth-child(2) strong {display: block; transform: inherit; margin-bottom: 10px;}
  
  #intro_vision #jump figure {overflow: hidden;}
  #intro_vision #jump figure img {width: auto; height: 315px; transform: translateX(-53%);}
}

